Supplementary[[:space:]]Movie[[:space:]]7.[[:space:]]Movement[[:space:]]experiments[[:space:]]in[[:space:]]water[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]8.[[:space:]]Load[[:space:]]motion[[:space:]]experiments[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3;[[:space:]]Load[[:space:]]0.15[[:space:]]g)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]9.[[:space:]]Target[[:space:]]location[[:space:]]experiment[[:space:]](Num.[[:space:]]4)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]10.[[:space:]]Targeted[[:space:]]drug[[:space:]]delivery[[:space:]]experiment[[:space:]](Num.[[:space:]]4)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]3.[[:space:]]Folding[[:space:]]motion[[:space:]]experiment[[:space:]]of[[:space:]]the[[:space:]]soft[[:space:]]sheet[[:space:]]robot[[:space:]]prototype[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]2.[[:space:]]Flip[[:space:]]motion[[:space:]]experiment[[:space:]]of[[:space:]]the[[:space:]]soft[[:space:]]sheet[[:space:]]robot[[:space:]]prototype[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]4.[[:space:]]Steering[[:space:]]motion[[:space:]]experiment[[:space:]]of[[:space:]]the[[:space:]]soft[[:space:]]sheet[[:space:]]robot[[:space:]]prototype[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]5.[[:space:]]Flexible[[:space:]]fluff[[:space:]]surface[[:space:]]movement[[:space:]]experiments[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-2)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]6.[[:space:]]Slope[[:space:]]surface[[:space:]]movement[[:space:]]experiments[[:space:]](Num.[[:space:]]3;[[:space:]]Magnetic[[:space:]]Field-3;[[:space:]]Slope[[:space:]]angles[[:space:]]4.2°)..avi filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]1.[[:space:]]Microscopic[[:space:]]dynamic[[:space:]]magnetization[[:space:]]process[[:space:]]of[[:space:]]magnetorheological[[:space:]]fluids[[:space:]]based[[:space:]]on[[:space:]]fluorescence[[:space:]]calibration..mp4 filter=lfs diff=lfs merge=lfs -text
Supplementary[[:space:]]Movie[[:space:]]11.[[:space:]]Motion[[:space:]]observation[[:space:]]experiments[[:space:]]based[[:space:]]on[[:space:]]ultrasonic[[:space:]]apparatus[[:space:]](Num.[[:space:]]4)..mp4 filter=lfs diff=lfs merge=lfs -text
